@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@400;700&family=Lobster&family=Luxurious+Roman&family=Merriweather:wght@400;700&family=Moon+Dance&family=Neonderthaw&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@900&family=Source+Code+Pro:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&family=Titillium+Web:wght@400;600;700&display=swap');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/helvetica-neu.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'La Belle Aurore';
    src: url('/assets/fonts/LaBelleAurore.woff2') format('woff2'),
      url('/assets/fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Coolvetica';
    src: url('/assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
      url('/assets/fonts/CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 11px;
    background: #212121;
  }
  ::-webkit-scrollbar-thumb {
    width: 100%;
    background: #38393f;
    border-radius: 2rem;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: blue;
  }
::selection{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;          /* Likely future */ 
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    /* background: black; */
    background: black;
    overflow-x: hidden;
}

header{
    width: 95%;
    height: 10vh;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 2;
}

#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius:5px;
    display: flex;
    align-items: center;
    color: #fff;
}

#sound::before{
    content: "<html>";
    position: absolute;
    top: 45px;
    left: -14px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
}

.on-off{
    cursor: pointer;
    margin-left: 5px;
}

#off{
    color:#f50057;
}

#on{
    display: none;
    color: #08fdd8;
}

.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}

.btns-container .fas:nth-child(2){
    display: none;
}

/* Aside Section Starts Here */

.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
}

.show-nav{
    height: 100%;
    overflow: visible;
}

.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}

.logo-section .logo img{
    width: 80px;
    margin-top: 1rem;
    height: auto;
}

.logo span{
    font-size: 1.7rem;
    color: #fff;
}

.logo-section > span{
    margin-top: 25px;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
}

/* Nav Section Start Here */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #908096;
}

.nav-links a:hover{
    color: #08fdd8;
}

.nav-links a::before{
    content:"";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* Social Icons Start Here */

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}

.social-icons li{
    width: 30px;
    font-size: 1rem;
}

.social-icons li a{
    text-decoration: none;
    color: #909096;
}

.social-icons li a:hover{
    color: #08fdd8;
}

/* Nav Bar Ends Here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.text-zone::before{
    content: "<body>";
    position: absolute;
    top: 75px;
    left: 20px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

/* .text-zone h1{
    font-family: "Coolvetica", sans-serif;
    font-size:3.2rem;
    line-height: 50px;
    letter-spacing: normal;
    position: relative;
} */

.text-zone img{
    width: 47px;
    height: 62px;
    margin-bottom: -5px;
}

/* Typing Text Animation Here */
.text-zone .gray-text{
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 19px;
    position: relative;
}

.typingContainer .text{
    position: relative;
    color: #a2a2a3;
}
.typingContainer .text.first-text{
    color: #a2a2a3;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid #a2a2a3;
    animation: animate 4s steps(14) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


.text-zone .gray-text::before{
    content: "<p>";
    position: absolute;
    top: -40px;
    left: -10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone .gray-text::after{
    content: "</p>";
    position: absolute;
    left: 15px;
    top: 27px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

/* Contact Me Button */

.contact-button{
    margin-top: 50px 0 0;
    text-decoration: none;
    width: 100%;
    max-width: 260px;
    height: 55px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
    top: 30px;
}

.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
}

.contact-button:hover span.bg{
    width: 110%;
}

.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08fdd8;
    box-sizing: border-box;
}

.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
}

.contact-button:hover span.text{
    color: black;
}

.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}

.scroll-down-left{
    left: -30px;
    right: auto;
}

.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}

@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}

.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}

#header{
    font-size: 2rem;
    color: #08fdd8;
    margin-bottom: 30px;
}

#header::before{
    content: "<div>";
    position: absolute;
    top: 95px;
    left: 7px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

#header::after{
    content: "</div>";
    position: absolute;
    bottom: -10px;
    right: 0px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p::before{
    content: "<p>";
    position: absolute;
    top: 340px;
    left: 7px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p::after{
    content: "</p>";
    position: absolute;
    bottom: 110px;
    right: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p{
    line-height: 1.5;
}

.hireLink{
    text-decoration: underline;
    color: #08fdd8;
    font-size: 1.2rem;
}

.fake-big-2{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing:-10px;
    z-index: -999;
}

.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}

#box{
    display: flex;
    position: absolute;
    margin: 1rem 0;
  }

  #box::before{
    content: "<span>";
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

#box::after{
    content: "</span>";
    position: absolute;
    bottom: 60px;
    right: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

  #me{
    display: flex;
    margin-left: 22px;
    letter-spacing: 0;
  }
  
  .alpha{
    font-family: "Coolvetica", sans-serif;
    color: #08FDD8;
    font-size: 55px;
    font-family: 'Poppins',sans-serif;
    margin: -3px;
  }
  
  .alpha.animated{
    color: pink;
    animation: ani 0.3s ease-in-out ;
  }
  
  h2 .blast1, h1 .blast {
    font-family: "Coolvetica", sans-serif;
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.text-zone h1{
    font-size: 49px;
    font-weight: 700;
    letter-spacing: -4px;
    line-height: 80px;
    margin-top: -140px;
}

.text-zone h1::before{
    content: "<h1>";
    position: absolute;
    top: 130px;
    left: 30px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1::after{
    content: "</h1>";
    position: absolute;
    bottom: 245px;
    right: 20px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

#header .blast-root{
    font-size: 75px;
    font-weight: 700;
    letter-spacing: -7px;
    line-height: 80px;
}

.blast-root .blast.animated{
    color: yellow;
    animation: ani 0.3s ease-in-out ;
  }

#header .blast-root .blast1.animated{
    color: blue;
    animation: ani .3s ease-in-out ;
}
  
  @keyframes ani {
    0%{
      transform: scale(1.5,0.5);
    }
    16%{
      transform: scale(1.5,0.5);
    }
    25%{
      transform: scale(1.5,0.4);
    }
    32%{
      transform: scale(0.8,1.1);
    }
    48%{
      transform: scale(0.95,1);
    }
    64%{
      transform: scale(0.8,1.2);
    }
    80%{
      transform: scale(1.15,1);
    }
    87%{
      transform: scale(1.15,1);
    }
    90%{
      /* This will add the shaking effect one time almost at the end   */
      transform: scale(0.8,1);
    }
    95%{
      transform: scale(1.05,1);
    }
    100%{
      transform: scale(1,1);
    }
  }

.trail{
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid pink;
    background: pink;
    position: fixed;
    animation: coma 1.2s linear forwards;
    z-index: -999;
}

@keyframes coma {
    0%{
      transform: scale(0);
    }
    10%{
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    30%{
        transform: scale(0.7) translateY(10px);
        opacity: 0.7;
      }
    50%{
        transform: scale(0.5) translateY(25px);
        opacity: .5;
    }
    80%{
        transform: scale(0.2) translateY(40px);
        opacity: .2;
    }
    100%{
        transform: scale(0) translateY(50px);
        opacity: 0;
    }
}

/* About Section Starts Here */

#section-about{
    padding-left: 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.text-zone3 p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}
.tech{
    text-decoration: none;
    color: #08fdd8;
}

/* blog section starts here */

.section-blog{
    width: 85%;
    margin: 100px auto 0;
    position: relative;
}
.section-blog .fake-big-2{
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    left: 0;
    
}

.blog-articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.blog-articles::before{
    content: "<article>";
    position: absolute;
    top: -40px;
    left: 10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.blog-articles::after{
    content: "</article>";
    position: absolute;
    bottom: -20px;
    left: 10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.post-articles{
    width: 100%;
    height: 220px;
    background-color: black;
    padding: 25px;
    color: #909096;
    box-shadow: 0 0  5px 5px #191919;
    margin-bottom: 30px;
}
.post-date{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.blog-post-title h5 a{
    font-family: "Coolvetica", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 15px 0;
}
.blog-post-title h5 a:hover{
    color: #06b99e;
}

.text-zone .fake-big-2{
    font-size: 30rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    position: absolute;
    color: #2d2d2e;
    left: 190px;
    bottom: 150px;
    letter-spacing:-10px;
    z-index: -999;
    opacity: 0.3;
}


/* contact start here */

.contact-in{
    font-family: "Coolvetica", sans-serif;
    width: 80%;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: black;
    /* box-shadow: 0 0 10px 0px #666; */
}

.contact-in .contact-form #header h2{
    margin-bottom: -100px;
}

#contact-paragraph{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.contact-map{
    width: 100%;
    height: auto;
    margin-top: 90px;
    height: 520px;
    /* flex: 50%; */
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    text-align: center;
    width: 100%;
    height: auto;
    /* flex: 50%; */
}

.contact-form-txt{
    font-family: "Coolvetica", sans-serif;
    width: 100%;
    height: 40px;
    background-color: #2b2b2b ;
    color: #08fdd8;
    letter-spacing: 2px;
    font-size: 17px;
    border: 1px solid #2d2d2e;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form-textarea{
    font-family: "Coolvetica", sans-serif;
    width: 100%;
    height: 110px;
    color: #08fdd8;
    letter-spacing: 2px;
    font-size: 17px;
    background-color: #2b2b2b ;
    border: 1px solid #2d2d2e;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

.text-zone3 #header h2::before{
    content: "<h2>";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.text-zone3 #header h2::after{
    content: "</h2>";
    position: absolute;
    bottom: 840px;
    left: 10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-form #header h2::before{
    content: "<form>";
    position: absolute;
    top: 6110px;
    left: 60px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-form #header h2::after{
    content: "</form>";
    position: absolute;
    bottom: -7070px;
    left: 60px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-form p::before{
    content: "<h2>";
    position: absolute;
    bottom: -5550px;
    left: 100px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-form p::after{
    content: "</h2>";
    position: absolute;
    bottom: -5670px;
    left:190px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-map::before{
    content: "</body>";
    position: absolute;
    bottom: -7200px;
    left: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

.contact-map::after{
    content: "</html>";
    position: absolute;
    bottom: -7230px;
    left:25px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
    z-index: 3;
}

#section-contact .fake-big-2{
    font-size: 20rem;
    font-weight: 500;
    font-family: 'Lobster', cursive;
    position: absolute;
    color: #2d2d2e;
    left: 640px;
    top: 225rem;
    letter-spacing:-10px;
    z-index: -999;
    opacity: 1;
}

#magic-wall{
    margin-left: 130px;
    font-size: 13px;
    opacity: .7;
}

.input-submit input{
    cursor: pointer;
    margin-top: 50px 0 0;
    text-decoration: none;
    width: 100%;
    max-width: 260px;
    height: 55px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    font-weight: 500;
    font-family: "Coolvetica", sans-serif;
    border: 3px solid #08fdd8;
    color: #08fdd8;
    background: black;
    top: 30px;
}

.input-submit input:hover{
    transition: all .5s ease-in-out;
    background-color: #08fdd8;
    color: #000;
}


/* Make the website responsive */

/* Media Section For Bigger Screens */
@media screen and (min-width: 1140px) {
    header{
        justify-content: flex-end;
    }
    #sound::before{
        left: 130px;
    }
    .btns-container{
        display: none;
    }
    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
    }
    .social-icons li{
        text-align: center;
        font-size: 1rem;
    }

    /* Home Section */

    #section-home{
        padding-left: 13rem;
    }
    .text-zone::before{
        top: 77px;
        left: 190px;
    }
    .text-zone h1{
        margin-top: -85px;
        font-size: 6.0rem;
        line-height: 95px;
        letter-spacing: -10px;
    }
    .text-zone h1::before{
        top: 120px;
        left: 210px;
    }
    
    .text-zone h1::after{
        bottom: 210px;
        right: 415px;
    }
    .text-zone img{
        width: 70px;
        height: 85px;
        margin-bottom: -8px;
        margin-right: -7px;
    }
    .text-zone .gray-text{
        font-size: 1.3rem;
    }
    .scroll-down {
        right: -30px;
        bottom: 3.3rem;
    }
    .scroll-down-left{
        left: 110px;
        right: auto;
    }

    /* This is the end of section home */

    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem;
    }

    .text-zone-2 p::before{
        top: 290px;
        left: 7px;
    }
    
    .text-zone-2 p::after{
        content: "</p>";
        position: absolute;
        bottom: 75px;
        right: 650px;
        font-size: 1.2rem;
        font-family: "La Belle Aurore", cursive;
        color: #666565;
        letter-spacing: 3px;
    }

    .fake-big-2{
        font-size: 22rem;
        font-weight: 700;
        left: 485px;
        top: 0;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }
    #box{
        left: 200px;
    }

    /* for about section */
    #section-about{
        flex-direction: row;
        padding-left: 13rem;
    }
    .text-zone3 #header{
        width: 500px;
        font-size: 3rem;
    }
    .text-zone3 p{
        width: 460px;
    }
    .skills-charts{
        margin-right: 8%;
    }

    /* media query for blog section */
    .section-blog{
        width: 90%;
        margin: 100px auto 0;
    }
    .section-blog .fake-big-2{
        font-size: 28rem;
        top: -380px;
    }
    .blog-articles{
        width: 90%;
        margin: 0 0 0 auto;
        flex-flow: row wrap;
    }
    .blog-articles::before{
        bottom: -20px;
        left: 120px;
    }
    .blog-articles::after{
        bottom: -20px;
        left: 120px;
    }
    .post-articles{
        width: 340px;
        height: 270px;
    }
    .blog-post-title h5 a{
        font-size: 1.7rem;
        line-height: 2rem;
    }

    /* hero character */
    .text-zone .fake-big-2{
        font-size: 45rem;
        left: 820px;
        top: -115px;
        opacity: 0.4;
    }

    /* contact form */
    .contact-in{
        margin-left: 210px;
    }
    .contact-in .contact-form #header h2{
        margin-bottom: -40px;
    }
    .contact-map{
        flex: 50%;
        height: 690px;
        margin-top: 150px;
    }
    #contact-paragraph{
        width: 90%;
    }
    .contact-form-txt,
    .contact-form-textarea{
        width: 80%;
    }
    
    .contact-form{
        flex: 50%;
    }

    /* Styling */

    .text-zone3 #header h2::before{
        top: 10px;
        left: 200px;
    }
    
    .text-zone3 #header h2::after{
        bottom: 410px;
        left: 200px;
    }
    .contact-form #header h2::before{
        top: 3810px;
        left: 180px;
    }
    
    .contact-form #header h2::after{
        bottom: -4130px;
        left: 200px;
    }
    .contact-form p::before{
        bottom: -3190px;
        left: 200px;
    }
    
    .contact-form p::after{
        bottom: -3340px;
        left:340px;
    }
    .contact-map::before{
        bottom: -4200px;
        left: 175px;
    }
    
    .contact-map::after{
        bottom: -4230px;
        left:165px;
    }
}

/* Media Section For Big Screens */

@media screen and (max-width: 960px) {
    #sound::before {
        top: 170px;
        font-size: 1.7rem;
    }
    .text-zone::before {
        top: 204px;
        font-size: 1.7rem;
    }
    .text-zone h1 {
        font-size: 85px;
        letter-spacing: -7px;
        margin-top: -201px;
    }
    .text-zone h1::before {
        top: 430px;
        font-size: 1.6rem;
    }
    .text-zone img {
        width: 80px;
        height: 95px;
    }
    .text-zone h1::after {
        bottom: 543px;
        font-size: 1.6rem;
    }
    .text-zone .gray-text {
        top: 121px;
        font-size: 23px;
    }
    .text-zone .fake-big-2 {
        font-size: 47rem;
        font-weight: 600;
        left: 327px;
        bottom: 339px;
    }
    .text-zone .gray-text::before, 
    .text-zone .gray-text::after {
        font-size: 1.6rem;
    }
    .contact-button {
        max-width: 326px;
        height: 63px;
        top: 260px;
    }
    #header::before,
    #header::after {
        font-size: 1.6rem;
    }
    #header .blast-root {
        font-size: 85px;
    }
    .text-zone-2 p::before,
    .text-zone-2 p::after {
        font-size: 1.6rem;
    }
    .text-zone-2 p {
        font-size: 23px;
    }
    .hireLink {
        font-size: 1.7rem;
    }
    .fake-big-2 {
        font-size: 17rem;
        left: 71px;
        bottom: -132px;
    }
    #magic-wall {
        margin-left: 2px;
        font-size: 19px;
        text-align: center;
    }
    .fake-magicwall ul li {
        width: 283px;
        height: 236px;
    }
    #box {
        margin: 1rem 1.6rem;
    }
    #box::before,
    #box::after {
        font-size: 1.6rem;
    }
    #section-about {
        margin-top: 220px;
    }
    #header::before {
        top: -6px;
        font-size: 1.6rem;
    }
    .text-zone3 #header h2::before {
        top: 15px;
        left: 46px;
        font-size: 1.6rem;
    }
    .text-zone3 #header h2::after {
        bottom: 960px;
        left: 124px;
        font-size: 1.6rem;
    }
    .text-zone3 p {
        line-height: 2rem;
        font-size: 23px;
    }
    .skills-charts{
        padding-top: 3rem;
    }
    .section-blog {
        margin: 180px auto 0;
    }
    .section-blog .fake-big-2 {
        font-size: 16rem;
        top: -326px;
    }
    .blog-articles::before,
    .blog-articles::after {
        font-size: 1.7rem;
    }
    .post-date {
        font-size: 20px;
    }
    .blog-post-title h5 a {
        font-size: 2.3rem;
    }
    .blog-post-content{
        font-size: 20px;
    }
    .contact-in {
        margin: 156px auto;
    }
    #section-contact .fake-big-2 {
        font-size: 17rem;
        font-weight: 600;
        left: 135px;
        top: 465rem;
    }
    .contact-form #header h2{
        font-size: 100px;
    }
    .contact-form #header::before {
        content: '<map>';
        top: 7692px;
        left: 110px;
        font-size: 1.6rem;
    }
    .contact-form #header::after {
        content: "</map>";
        left: 699px;
        bottom: -8025px;
        font-size: 1.6rem;
    }
    #contact-paragraph {
        font-size: 23px;
    }
    .input-submit input {
        max-width: 379px;
        height: 77px;
        font-size: 23px;
        top: 48px;
    }
    .contact-map {
        margin-top: 122px;
        margin-bottom: 140px;
        height: 614px;
    }
    .contact-map::before {
        bottom: -8093px;
        font-size: 1.6rem;
    }
    .contact-map::after {
        bottom: -8137px;
        font-size: 1.6rem;
    }
    .contact-form p::before {
        bottom: -6435px;
        left: 74px;
        font-size: 1.6rem;
    }
    .contact-form p::after {
        bottom: -6547px;
        left: 606px;
        font-size: 1.6rem;
    }
    .contact-form #header h2::before {
        top: 7591px;
        font-size: 1.6rem;
    }
    .contact-form #header h2::after {
        bottom: -8066px;
        left: 93px;
        font-size: 1.6rem;
    }
    .logo-section {
        min-height: 43vh;
    }
    .logo-section .logo img {
        width: 215px;
    }
    .logo span {
        font-size: 3.3rem;
    }
    .logo-section > span {
        margin-top: 8px;
        font-size: 40px;
    }
    .nav-links a {
        line-height: 6.5rem;
        font-size: 2rem;
    }
    .social-icons {
        margin-bottom: 82px;
    }
    .social-icons li {
        width: 76px;
        font-size: 2.3rem;
    }
}

/* Media Section For Medium Screens */

@media screen and (max-width: 768px) {
    #section-contact .fake-big-2 {
        font-size: 11rem;
        left: 200px;
        top: 436rem;
    }
    .text-zone::before {
        top: 205px;
    }
    .text-zone h1 {
        font-size: 74px;
        letter-spacing: -7px;
        margin-top: -108px;
    }
    .text-zone h1::before {
        top: 319px;
    }
    .text-zone img {
        width: 66px;
        height: 79px;
    }
    .text-zone h1::after {
        bottom: 375px;
    }
    #sound::before {
        top: 165px;
    }
    .text-zone .fake-big-2 {
        font-size: 35rem;
        font-weight: 600;
        left: 336px;
        bottom: 274px;
    }
    .text-zone .gray-text {
        top: 60px;
    }
    .contact-button {
        top: 117px;
    }
    #header .blast-root {
        font-size: 70px;
    }
    .text-zone-2 p {
        font-size: 21px;
    }
    .text-zone-2 p::before {
        top: 328px;
    }
    .hireLink {
        font-size: 1.5rem;
    }
    .text-zone-2 .contact-button {
        top: 30px;
        left: 401px;
    }
    #magic-wall {
        margin-left: 44px;
        width: 85%;
        font-size: 16px;
        text-align: center;
    }
    .fake-magicwall ul li {
        width: 235px;
        height: 227px;
    }
    #box {
        margin: 2rem 1rem;
    }
    #box::before {
        left: 142px;
    }
    #section-about {
        margin-top: 228px;
    }
    #header::before {
        top: 222px;
    }
    .text-zone3 p {
        line-height: 1.7rem;
        font-size: 1.09rem;
    }
    .text-zone3 #header h2::after {
        bottom: 895px;
    }
    .skills-charts{
        padding-top: 3rem;
    }
    .section-blog .fake-big-2 {
        top: -228px;
    }
    .post-date {
        font-size: 16px;
    }
    .blog-post-title h5 a {
        font-size: 2rem;
    }
    .blog-post-content{
        font-size: 20px;
    }
    .blog-post-content {
        font-size: 17px;
    }
    .contact-in {
        margin: 146px auto;
    }
    .contact-form #header::before{
        left: 87px;
        top: 7172px;
    }
    .contact-form #header::after {
        left: 699px;
        bottom: -7867px;
    }
    .contact-form #header h2::before {
        top: 7057px;
    }
    .contact-form #header h2::after {
        bottom: -7927px;
    }
    #contact-paragraph {
        font-size: 22px;
    }
    .contact-map {
        margin-top: 122px;
        height: 563px;
    }
    .input-submit input {
        max-width: 303px;
        height: 67px;
        top: 38px;
    }
    .contact-map::before {
        bottom: -8103px;
    }
    .contact-map::after {
        visibility: hidden;
    }
    .contact-form p::before {
        bottom: -6235px;
    }
    .contact-form p::after {
        bottom: -6366px;
        left: 506px;
    }
    .contact-in .contact-form #header h2 {
        margin-bottom: -36px;
        font-size: 80px;
    }
    .logo-section {
        min-height: 49vh;
    }
    .logo-section .logo img {
        width: 210px;
    }
    .logo span {
        font-size: 2.9rem;
    }
    .logo-section > span {
        font-size: 45px;
    }
}

/* Media Section For small Screens */

@media screen and (max-width: 540px) {
    .text-zone .fake-big-2 {
        font-size: 29rem;
        left: 141px;
        bottom: 183px;
    }
    .text-zone h1 {
        font-size: 50px;
        letter-spacing: -4px;
        margin-top: -108px;
    }
    .text-zone-2 p {
        font-size: 18px;
    }
    .fake-big-2 {
        font-size: 10rem;
        left: 33px;
        bottom: -78px;
    }
    .text-zone-2 .contact-button {
        top: 30px;
        left: 154px;
    }
    .section-blog .fake-big-2 {
        top: -292px;
        left: -89px;
    }
    #section-contact .fake-big-2 {
        font-size: 11rem;
        left: 44px;
        top: 441rem;
    }
    .contact-form #header::after {
        left: 331px;
        bottom: -8256px;
    }
    .contact-form p::after {
        bottom: -6772px;
        left: 395px;
    }
    .text-zone::before {
        top: 140px;
    }
    .text-zone h1::before {
        top: -5px;
        visibility: hidden;
        font-size: 1.6rem;
    }
    .text-zone img {
        width: 48px;
        height: 61px;
    }
    .text-zone h1 {
        line-height: 50px;
    }
    #header .blast-root {
        font-size: 60px;
    }
    .text-zone3 #header h2::after {
        bottom: 977px;
    }
    .post-date {
        font-size: 14px;
    }
    .blog-post-title h5 a {
        font-size: 1.5rem;
    }
    .blog-post-content {
        font-size: 15px;
    }
    #section-contact .fake-big-2 {
        top: 433rem;
    }
    .contact-form #header::before {
        top: 7115px;
    }
    h2 {
        font-size: 60px;
    }
    .contact-form #header::after {
        bottom: -8039px;
    }
    #contact-paragraph {
        font-size: 16px;
    }
    .contact-form p::after {
        bottom: -6592px;
    }
    .contact-form p::before {
        bottom: -6482px;
    }
    .input-submit input {
        max-width: 253px;
        height: 55px;
        top: 21px;
    }
    .contact-form #header h2::after {
        bottom: -7968px;
    }
    .alpha {
        font-size: 40px;
        margin: -2px;
    }
    .logo-section .logo img {
        width: 131px;
    }
    .logo span {
        font-size: 2rem;
    }
    .logo-section > span {
        font-size: 30px;
    }
    .nav-links a {
        line-height: 2.5rem;
        font-size: 1.2rem;
    }
}

/* Media Section For smaller Screens */

@media screen and (max-width: 414px) {
    body {
        overflow-x: hidden !important;
    }
    html {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .text-zone .fake-big-2 {
        font-size: 30rem;
        left: 15px;
        bottom: 306px;
    }
    .text-zone-2 .contact-button {
        left: 14px;
    }
    .fake-big-2 {
        font-size: 10rem;
        left: -44px;
        bottom: -78px;
    }
    .section-blog .fake-big-2 {
        top: -292px;
        left: -196px;
    }
    #section-contact .fake-big-2 {
        font-size: 11rem;
        left: -83px;
        top: 533rem;
    }
    .contact-form p::after {
        left: 309px;
    }
    .contact-form #header::after {
        left: 243px;
    }
    .text-zone::before {
        top: 158px;
    }
    .text-zone h1 {
        line-height: 40px;
        margin-top: -230px;
        font-size: 42px;
    }
    .text-zone h1::before {
        top: 256px;
        font-size: 1.3rem;
        visibility: visible;
    }
    .text-zone h1::after {
        bottom: 431px;
        font-size: 1.3rem;
    }
    .contact-button {
        top: 280px;
        width: 80%;
        left: 25px;
    }
    .text-zone .gray-text {
        top: 160px;
    }
    .text-zone .gray-text > span {
        font-size: 15px;
    }
    #sound::before {
        top: 117px;
    }
    #header::before {
        top: 101px;
    }
    .text-zone-2 p::before {
        top: 306px;
    }
    .text-zone-2 p {
        font-size: 20px;
    }
    .text-zone-2 p {
        font-size: 19px;
        max-width: 95%;
        text-align: center;
    }
    .fake-magicwall ul li {
        width: 322px;
        height: 256px;
    }
    #box::before {
        left: 87px;
        top: 45px;
        font-size: 1.3rem;
    }
    #box .alpha{
        font-size: 35px;
        letter-spacing: 1px;
    }
    #box::after {
        font-size: 1.3rem;
        top: -27px;
    }
    #section-about {
        margin-top: 195px;
    }
    #header::before {
        top: -17px;
    }
    .text-zone3 p {
        text-align: center;
        margin-left: -32px;
    }
    .text-zone3 #header h2::after {
        bottom: 1060px;
        left: 117px;
        font-size: 1.3rem;
    }
    .text-zone3 #header h2::before{
        font-size: 1.3rem;
    }
    .section-blog .fake-big-2 {
        top: -308px;
        left: -37px;
        font-size: 16rem;
    }
    .post-date {
        font-size: 15px;
    }
    .blog-post-title h5 a {
        font-size: 1.7rem;
    }
    .post-articles {
        height: 285px;
        padding: 26px;
    }
    .blog-post-content {
        font-size: 16px;
    }
    #section-contact .fake-big-2 {
        font-size: 9rem;
        left: 25px;
        top: 590rem;
    }
    .contact-form #header::before {
        top: 9560px;
    }
    .contact-in .contact-form #header h2 {
        margin-bottom: -138px;
        font-size: 60px;
    }
    .contact-form #header h2::before {
        top: 9489px;
    }
    .contact-form #header h2::after {
        bottom: -10317px;
    }
    .contact-form #header::after {
        left: 253px;
        bottom: -10209px;
    }
    #contact-paragraph {
        font-size: 19px;
    }
    .contact-form p::before {
        bottom: -8742px;
    }
    .contact-form p::after {
        bottom: -8825px;
    }
    .contact-map::before {
        bottom: -10366px;
    }
    .contact-map::after {
        visibility: visible;
        bottom: -10401px;
    }
    .logo-section .logo img {
        width: 165px;
    }
    .nav-links a {
        line-height: 3.5rem;
        font-size: 1.4rem;
    }
}

/* Media Section For so small Screens */

@media screen and (max-width: 393px) {
    .text-zone h1 {
        margin-top: -147px;
        font-size: 40px;
    }
    .text-zone img {
        width: 36px;
        height: 43px;
    }
    .text-zone h1::after {
        bottom: 373px;
    }
    .text-zone .gray-text {
        top: 99px;
    }
    .contact-button {
        top: 209px;
    }
    .fake-magicwall ul li {
        width: 290px;
    }
    .blog-post-title h5 a {
        font-size: 1.5rem;
    }
    .post-articles {
        height: 308px;
    }
    #section-contact .fake-big-2 {
        top: 598rem;
    }
    .contact-in .contact-form #header h2 {
        font-size: 58px;
    }
    .contact-form #header::before {
        top: 9707px;
    }
    .contact-form #header h2::before {
        top: 9644px;
    }
    .contact-form p::before {
        bottom: -8969px;
    }
    .contact-form p::after {
        bottom: -9057px;
    }
    .contact-map iframe {
        margin-top: -55px;
        width: 100%;
        height: 80%;
    }
    .contact-form #header::after {
        left: 253px;
        bottom: -10313px;
    }
    .contact-map::before {
        bottom: -10418px;
    }
    .contact-map::after {
        visibility: visible;
        bottom: -10462px;
    }
    .contact-form #header h2::after {
        bottom: -10382px;
    }
    .logo-section .logo img {
        width: 104px;
    }
    .nav-links a {
        line-height: 3.3rem;
        font-size: 1.3rem;
    }
    .social-icons li {
        width: 64px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 375px) {
    #sound::before {
        top: 72px;
        left: 1px;
    }
    .text-zone::before {
        top: 106px;
        left: 45px;
    }
    .text-zone h1 {
        margin-top: -136px;
        font-size: 39px;
    }
    .text-zone h1::before {
        top: 167px;
    }
    .text-zone h1::after {
        bottom: 300px;
    }
    .text-zone .gray-text {
        top: 73px;
    }
    .contact-button {
        top: 133px;
    }
    #header::before {
        top: 44px;
    }
    #header .blast-root {
        font-size: 58px;
    }
    #magic-wall {
        margin-left: 21px;
    }
    .fake-magicwall ul li {
        width: 285px;
    }
    #header::before {
        top: -5px;
    }
    #header .blast-root {
        font-size: 51px;
    }
    .text-zone3 #header h2::after {
        bottom: 1090px;
        left: 136px;
    }
    #section-contact .fake-big-2 {
        top: 584rem;
        left: 33px;
        font-size: 8rem;
    }
    .contact-form #header::before {
        top: 9500px;
    }
    .contact-in .contact-form #header h2 {
        font-size: 56px;
    }
    .contact-form #header h2::before {
        top: 9397px;
    }
    .contact-form p::before {
        bottom: -8945px;
    }
    .contact-form p::after {
        bottom: -9019px;
    }
    .logo-section .logo img {
        width: 87px;
    }
    .logo span {
        font-size: 1.5rem;
    }
    .logo-section > span {
        font-size: 22px;
    }
    .nav-links a {
        line-height: 3rem;
        font-size: 1rem;
    }
    .social-icons li {
        width: 53px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 360px) {
    .text-zone::before {
        top: 127px;
        font-size: 1.1rem;
    }
    #sound::before {
        top: 94px;
        font-size: 1.1rem;
    }
    .text-zone h1 {
        font-size: 37px;
    }
    .text-zone h1::before {
        top: 214px;
        font-size: 1.1rem;
    }
    .text-zone h1::after {
        bottom: 334px;
        font-size: 1.1rem;
    }
    #section-work {
        padding: 3rem 0 3rem 1rem;
    }
    #header::before {
        top: 40px;
    }
    #header .blast-root {
        font-size: 55px;
        margin-bottom: -59px;
        letter-spacing: -6px;
    }
    .text-zone-2 p {
        font-size: 18px;
    }
    .text-zone-2 p::before {
        top: 184px;
    }
    .text-zone-2 p::after {
        bottom: 89px;
    }
    .text-zone-2 .contact-button {
        top: 16px;
    }
    #magic-wall {
        margin-left: 22px;
        font-size: 14px;
    }
    .fake-magicwall ul li {
        width: 267px;
        height: 267px;
    }
    #section-about {
        margin-top: 160px;
    }
    #header::before {
        top: -6px;
    }
    #header .blast-root {
        font-size: 47px;
    }
    .text-zone3 #header h2::after {
        bottom: 1018px;
        left: 234px;
    }
    #section-contact .fake-big-2 {
        top: 578rem;
        left: 21px;
        font-size: 8rem;
    }
    .contact-form #header::before {
        top: 9383px;
    }
    .contact-in .contact-form #header h2 {
        font-size: 52px;
    }
    .contact-form #header::after {
        left: 253px;
        bottom: -10104px;
    }
    .contact-form p::before {
        bottom: -8753px;
    }
    .contact-form p::after {
        bottom: -8829px;
        left: 192px;
    }
    .contact-form #header h2::before {
        top: 9323px;
    }
    .contact-form #header h2::after {
        bottom: -10170px;
    }
    .contact-map::before {
        bottom: -10204px;
    }
    .contact-map::after {
        visibility: visible;
        bottom: -10247px;
    }
    .logo-section .logo img {
        width: 86px;
    }
    .logo-section > span {
        font-size: 28px;
    }
    .nav-links a {
        line-height: 3rem;
        font-size: 1rem;
    }
    .text-zone .fake-big-2 {
        font-size: 30rem;
        left: 6px;
        bottom: 176px;
    }
    
}