@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@400;700&family=Luxurious+Roman&family=Merriweather:wght@400;700&family=Moon+Dance&family=Neonderthaw&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@900&family=Source+Code+Pro:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&family=Titillium+Web:wght@400;600;700&display=swap');


::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    background: #1D1D1D;
    overflow-x: hidden;
}

header{
    width: 95%;
    height: 10vh;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#sound{
    padding: 7px;
    background-color: #1b1b1b;
    border-radius:5px;
    display: flex;
    align-items: center;
    color: #fff;
}

.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
}

.on-off{
    cursor: pointer;
    margin-left: 5px;
}

#off{
    color:#f50057;
}

#on{
    display: none;
    color: #08fdd8;
}

.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}

.btns-container .fas:nth-child(2){
    display: none;
}

/* Aside Section Starts Here */

.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
}

.show-nav{
    height: 100%;
    overflow: visible;
}

.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: black;
    color: white;
}

.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}

.logo-section .logo img{
    width: 80px;
    margin-top: 1rem;
    height: auto;
}

.logo span{
    font-size: 1.7rem;
    color: #fff;
}

.logo-section > span{
    margin-top: 25px;
    font-size: 14px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
}

/* Nav Section Start Here */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #908096;
}

.nav-links a:hover{
    color: #08fdd8;
}

.nav-links a::before{
    content:"";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* Social Icons Start Here */

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}

.social-icons li{
    width: 30px;
    font-size: 1rem;
}

.social-icons li a{
    text-decoration: none;
    color: #909096;
}

.social-icons li a:hover{
    color: #08fdd8;
}

/* Nav Bar Ends Here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.text-zone h1{
    font-size:3.2rem;
    line-height: 50px;
    letter-spacing: -3px;
    position: relative;
}

.text-zone h1::before{
    content: "<h1>";
    position: absolute;
    top: -80px;
    left: -10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone h1::after{
    content: "</h1>";
    position: absolute;
    bottom: -10px;
    right: -70px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone img{
    width: 47px;
    height: 62px;
    margin-bottom: -5px;
}

/* Typing Text Animation Here */
.text-zone .gray-text{
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

.typingContainer .text{
    position: relative;
    color: #a2a2a3;
}
.typingContainer .text.first-text{
    color: #a2a2a3;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1D1D1D;
    border-left: 2px solid #a2a2a3;
    animation: animate 4s steps(14) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


.text-zone .gray-text::before{
    content: "<p>";
    position: absolute;
    top: -40px;
    left: -10px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone .gray-text::after{
    content: "</p>";
    position: absolute;
    bottom: -40px;
    left: 9px;
    top: 12px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

/* Contact Me Button */

.contact-button{
    margin-top: 50px 0 0;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #08fdd8;
}

.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #08fdd8;
    transform: skewX(-19deg);
}

.contact-button:hover span.bg{
    width: 110%;
}

.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #08fdd8;
    box-sizing: border-box;
}

.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contact-button:hover span.text{
    color: #1d1d1d;
}

.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}

.scroll-down-left{
    left: -30px;
    right: auto;
}

.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}

@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}

.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}

#header{
    font-size: 2rem;
    color: #08fdd8;
    margin-bottom: 30px;
}

#header::before{
    content: "<div>";
    position: absolute;
    top: 95px;
    left: 7px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

#header::after{
    content: "</div>";
    position: absolute;
    bottom: -10px;
    right: 0px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p::before{
    content: "<p>";
    position: absolute;
    top: 200px;
    left: 7px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p::after{
    content: "</p>";
    position: absolute;
    bottom: 110px;
    right: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

.text-zone-2 p{
    line-height: 1.5;
}

#hireLink{
    text-decoration: underline;
    color: #08fdd8;
    font-size: 1.2rem;
}

.fake-big-2{
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 10px;
    bottom: -70px;
    letter-spacing:-10px;
    z-index: -999;
}

.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}

#box{
    display: flex;
    position: absolute;
    margin: 1rem 0;
  }

  #box::before{
    content: "<span>";
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

#box::after{
    content: "</span>";
    position: absolute;
    bottom: 60px;
    right: 50px;
    font-size: 1.2rem;
    font-family: "La Belle Aurore", cursive;
    color: #666565;
    letter-spacing: 3px;
}

  #me{
    display: flex;
    margin-left: 22px;
    letter-spacing: 0;
  }
  
  .alpha{
    color: #08FDD8;
    font-size: 55px;
    font-family: 'Poppins',sans-serif;
    margin: -2px;
  }
  
  .alpha.animated{
    color: pink;
    animation: ani 0.3s ease-in-out ;
  }
  
  h2 .blast1, h1 .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.text-zone .blast-root{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -11px;
    line-height: 80px;
}

#header .blast-root{
    font-size: 75px;
    font-weight: 700;
    letter-spacing: -11px;
    line-height: 80px;
}

.blast-root .blast.animated{
    color: cyan;
    animation: ani 0.3s ease-in-out ;
  }

#header .blast-root .blast1.animated{
    color: skyblue;
    animation: ani 0.3s ease-in-out ;
}
  
  @keyframes ani {
    0%{
      transform: scale(1.5,0.5);
    }
    16%{
      transform: scale(1.5,0.5);
    }
    25%{
      transform: scale(1.5,0.4);
    }
    32%{
      transform: scale(0.8,1.1);
    }
    48%{
      transform: scale(0.95,1);
    }
    64%{
      transform: scale(0.8,1.2);
    }
    80%{
      transform: scale(1.15,1);
    }
    87%{
      transform: scale(1.15,1);
    }
    90%{
      /* This will add the shaking effect one time almost at the end   */
      transform: scale(0.8,1);
    }
    95%{
      transform: scale(1.05,1);
    }
    100%{
      transform: scale(1,1);
    }
  }
















/* Media Section For Bigger Screens */

@media screen and (min-width: 1200px) {
    header{
        justify-content: flex-end;
    }
    .btns-container{
        display: none;
    }
    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
    }
    .social-icons li{
        text-align: center;
        font-size: 1rem;
    }

    /* Home Section */

    #section-home{
        padding-left: 13rem;
    }
    .text-zone h1{
        font-size: 5.7rem;
        line-height: 85px;
        letter-spacing: -6px;
    }
    .text-zone img{
        width: 70px;
        height: 85px;
        margin-bottom: -8px;
        margin-right: -7px;
    }
    .text-zone .gray-text{
        font-size: 1rem;
    }
    .scroll-down {
        right: -30px;
        bottom: 3.3rem;
    }
    .scroll-down-left{
        left: 110px;
        right: auto;
    }

    /* This is the end of section home */

    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem;
    }

    .text-zone-2 p::before{
        content: "<p>";
        position: absolute;
        top: 290px;
        left: 7px;
        font-size: 1.2rem;
        font-family: "La Belle Aurore", cursive;
        color: #666565;
        letter-spacing: 3px;
    }
    
    .text-zone-2 p::after{
        content: "</p>";
        position: absolute;
        bottom: 75px;
        right: 650px;
        font-size: 1.2rem;
        font-family: "La Belle Aurore", cursive;
        color: #666565;
        letter-spacing: 3px;
    }

    .fake-big-2{
        font-size: 22rem;
        font-weight: 700;
        left: 485px;
        top: 0;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }
    #box{
        left: 200px;
    }
}


